<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<!-- <meta http-equiv="Content-Security-Policy" -->
		<!-- content="default-src 'self';"> -->
		<link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
		<link rel="icon" type="image/png" href="/assets/icons/icon.svg">
		<meta name="author" content="Jian Sorge">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#212035">
		<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
		<!-- <meta name="msapplication-config" content="browserconfig.xml" /> -->
		<html dir="ltr"></html>

		<meta property="og:type" content="website">
		<meta property="og:image" content="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/icon.svg">
		<meta property="og:site_name" content="Jian Sorge's Portfolio">
		<meta property="og:locale" content="en_US">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@code_with_jian">
		<meta name="twitter:creator" content="@code_with_jian">
		<meta name="twitter:image" content="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/icon.svg">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
