<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
		<link rel="icon" type="image/png" href="/assets/icons/icon.svg">
		<meta name="author" content="Jian Sorge">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#212035">
		<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
		<html dir="ltr"></html>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
